# build CMake
/build/
/CMakeCache.txt
/CMakeFiles/
cmake_install.cmake
Makefile
*.cbp # CodeBlocks project files (se usar)
*.vcxproj* # Visual Studio project files (se usar)
*.sln # Visual Studio solution files (se usar)

# CLion files
.idea/
*.iml # Para módulos do IntelliJ/CLion

# Bin and exe
*.exe
*.dll
*.so
*.dylib
*.o
*.obj

# Debug and crash logs files
*.log
*.stackdump

# Backup
*~
*.bak
*.swp # Vim swap files

# MacOS
.DS_Store

# Windows
Thumbs.db